<mat-toolbar>


  <!-- <img src="" alt="">  -->


  <div class="example-button-row">
 <button mat-button (click)="showListas()">Listas</button>
  <button mat-button (click)="showRegister()">Registro</button>
  <img src="/src/assets/logo-itsmarts.png" alt="logo-itsmarts"/>


  </div>
</mat-toolbar>



<div class="container">
  @if (page === false) {
     <app-register-form></app-register-form>
  } 
  @if (page === true) {
    <app-user-tables></app-user-tables>
  }
 
  <app-mapp-box></app-mapp-box>
  
</div>

