

.example-spacer {
  flex: 1 1 auto;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.container{
  position: absolute;
  padding: 2vw 4vw 2vw;
  display: flex;
  min-width: 100%;

}

.container > *{
    float: left;
   
}
.container > :first-child{
 
margin-right: 48px;
width: 36vw;
height: 36vw;
overflow: auto;

}
.container > :last-child{
 
 
  width: 40vw;

  }
 
.c{

  border: 1px solid black;
}


/*
img{

}

mat-toolbar{
  /* background-color: aqua;}  */
